/* home */
:root {
  --pad: 10px;
  --color-background: #f2e2dd;
  --color-blob: #bbc8ba;
  --color-text: #00213a;
  --max-body-width: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #00213a;
    --color-blob: #426c79;
    --color-text: #f2e2dd;
  }
}

/* logo-hover */
:root {
  --color-primary: #D64161;
  --color-secondary: #FFC86D;
  --color-svg: #961010;

  --x: 1;
  --y: 1;
}




html { box-sizing: border-box; }
*,  *:before, *:after { box-sizing: inherit; }

html,
body,
body > div,
main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125em;
  line-height: 1.25em;
}

@media only screen and (max-width: 1024px) {
  html,
  body {
    font-size: 1em;
    line-height: 1.5em;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}


pre {
  background: black;
  padding: calc(var(--pad) * 2);
  overflow-x: scroll;
}

main {
  padding: calc(var(--pad) * 2);
}
